
 /*****************************************************/
/**************** CONFIG DO KEY FRAME ****************/
@keyframe navLinkFade {/* Ocupa o intervalo vazio da animação */
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


 /******************** BANNER.CSS ********************/
/*REMOVE O TITULO ENQUANTO ESTIVER ABAIXO DE 400PX*/
@media(max-width:400px){ /*LARGURA WIDTH*/
    #banner-titulo {
        display: none;
    }
}

/* LOGO DCC AZUL */
@media (max-width: 510px){ /*LARGURA WIDTH*/
    #cad-logo {
        background: url("../images/DCCcad_fatecsp3D-vertical-reduzido.png") no-repeat center center;
        margin: auto;
        background-size: contain;
        width: 20vw;
        height: 14vh;
    }
    /*#banner-titulo { display: none;}*/
}
/* BANNER RED */
@media (max-width: 700px){ /*Titulo do background RED */
    #banner-titulo {
        font-size: medium;
    }
}
/**------------------ CONFIGURAÇÕES DE RESOLUÇÃO ALTA ------------------**/





 /******************* HEADER ********************/
/*         POSIÇÃO DO MENU EM ATÉ 482px        *//*Adaptação para uma posição especifica da tela*/
/*@media(max-height: 482px){  .ul-menu-header { top: 24vh; }}*/
/*              CRIAÇÃO DO MENU 3 TRACINHOS             */
@media (max-width: 899px){ /*LARGURA*/
    /*body{ overflow-x: hidden; }*/
    .navbar-header {
        justify-content: normal;
    }
    .ul-menu-header {
        margin: auto 0vw auto auto;
        display: none;
        /*top: 15vh;right: 0;*/
        width: 50vw;
        height: 580px;
        background: #23232e;
        opacity: 0.97;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; /*ARRUMAR ESPAÇAMENTO*/
        transform: translateX(100%); /*move o Eixo X para fora da página*/
        transition: transform 0.3s ease-in;
    }
    .ul-menu-header li {
        margin-left: 0;
    }
    .mobile-menu {
        display: block;
    }
}
@media(max-height: 800px){ /*ALTURA*/
    /*.navbar-header { height: 60px; 
        /*font-size: var(--fontsz-m);*
    }*/
    /*#cad-logo { height: 7vh; }
    @media(max-height: 500px){
        #cad-logo{ height: 9vh; }
    }*/
}
/**------------------ CONFIGURAÇÕES DE RESOLUÇÃO ALTA ------------------**/




/********************* BACKGROUND.CSS *******************/
/* ACRESCENTA PALAVRAS AO TITULO DENTRO DA IMG DE FUNDO */
@media(max-width:550px){
    /*.a-logo:before {
        display: flex;
        content: 'Laboratório ';
    }*/
    .lab-capuano:before {
        display: flex;
        justify-items: center;
        content: 'Laboratório';/*Enedina Capuano*/
    }
    /*
    .lab-capuano {
        justify-items: center;
    }*/
    /*.a-logo:after{content: "";}*/
}
/**------------------ CONFIGURAÇÕES DE RESOLUÇÃO ALTA ------------------**/





/*********************** SECTION.CSS ***********************/
/*CONTEÚDO PRINCIPAL*/
/*LAYOUT DO TEXTO*/
@media(min-width: 475px){
    .display-container {
        display: flex;
    }
    .ul-aux-container {
        display: flex;
        justify-content: center;
    }
}

/*CARROSSEL SECTION*/
/*LAYOUT CARROSSEL*/
@media(min-width: 700px){
    .carrossel-container {
        width: 50%;
        height: 35vw;
    }
    .slide {
        height: 35vw;
    }
}
/**------------------ CONFIGURAÇÕES DE RESOLUÇÃO ALTA ------------------**/






/*********************** FOOTER.CSS ***********************/
/*CONTEÚDO FINAL*/

@media(min-width: 1200px){
    .display-footer2 {
        display: flex;
    }/*acima de 1200px*/
}

@media(min-width: 820px){
    
    
    
    /*#footer2 { padding-left: 20vw;}*/
}
@media(max-width: 848px){
    /*#span-img-footer {
        display: flex;
        margin: 8vh 0vw;
        justify-content: center;
    }*/
    .display-footer {
        flex-direction: column;
    }

}
@media(min-width:849px){
    .h2-footer{ margin-top: 5vh; }
    .display-footer{
        /*flex-direction: ;*/
        margin: 2vh 2vw;
        justify-content: center;
    }
    
    .footer-col {
        /*margin-bottom: 5vh;*/
        margin: 0vh auto auto 6vw;
        justify-content: center;
    }
    /*.logo-fatec-footer { display: none; }*/
    
    
}
/**------------------ CONFIGURAÇÕES DE RESOLUÇÃO ALTA ------------------**/
@media(min-width: 1600px ){
    @media(max-width:1799px){
        .p-footer { font-size: large; }
    }
}
@media(min-width: 1800px){
    .banner{ font-size: x-large; }

    .navbar-header { font-size: x-large; }
    .ul-menu-header .li-menu-header{
        margin: auto 50px;
    }

    .dcc-background { font-size: xx-large; }
    .div-container { font-size: x-large; }

    .div-container-auxiliares { font-size: x-large;}
    #b-aux-container { font-size: xx-large; }

    .h2-footer { font-size: xx-large; }
    .p-footer { font-size: x-large; }
    .copy-right-footer { font-size: medium; }
}


/*
*Arroma media pro footer -largura de width margin
*arrumar resoluções de letras /dcc-baclground/ banner/ navbar/ section/ 
*implementar texto no carrossel
*fazer icones de pagination do carrossel funcionarem
*rever menu altura e largura...


*/